@{
    ViewData["Title"] = "Registration";
}
@* <html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Butonlu Blog Sayfası</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body> *@
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Register</h3>
                    </div>
                    <div class="card-body">
                        <form>
                             <div class="mb-3">
                                <label for="username" class="form-label">FullName</label>
                                <input type="text" class="form-control" id="username">
                            </div>
                             <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label">Country</label>
                                <input type="country" class="form-control" id="country">
                            </div>
                             <div class="mb-3">
                                <label for="city" class="form-label">City</label>
                                <input type="city" class="form-control" id="city">
                            </div>
                             <div class="mb-3">
                                <label for="State" class="form-label">State</label>
                                <input type="State" class="form-control" id="State">
                            </div>
                            <div class="mb-3">
                                <label for="mobile" class="form-label">MobileNo</label>
                                <input type="Mobile" class="form-control" id="Mobile">
                            </div>
                             <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-lQW29hsVb06CEtJzph7wbR8tG1Zs+Dq3cEZV/3Y8M0uV7wP2TDcRYJ7/XmXO9WVZS1i79HK1/AOYp8H4I4y4tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@* </body>
</html> *@